.newUserContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(221, 221, 221);
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.newUserContainer h1 {
  color: rgba(0, 0, 0, 0.733);
  font: 300 2rem "Roboto";
  text-align: center;
}

.createUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 3vmax;
  justify-content: space-evenly;
  height: 70%;
  width: 55vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
}

.createUserForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.createUserForm > div > input,
.createUserForm > div > select,
.createUserForm > div > textarea {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.createUserForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

#createUserBtn {
  color: #0f1111;
  text-decoration: none;
  background-image: linear-gradient(#e7e9ec, #f7f8fa);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

#createUserBtn:hover {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
}

@media screen and (max-width: 600px) {
  .newUserContainer {
    background-color: rgb(255, 255, 255);
  }
  .createUserForm {
    padding: 5vmax;
  }

  .createUserForm > div > input,
  .createUserForm > div > select,
  .createUserForm > div > textarea {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .createUserForm > div > svg {
    font-size: 2.8vmax;
  }

  #createUserBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .newUserContainer {
    background-color: rgb(255, 255, 255);
  }
  .createUserForm {
    padding: 5vmax;
  }

  .createUserForm > div > input,
  .createUserForm > div > select,
  .createUserForm > div > textarea {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .createUserForm > div > svg {
    font-size: 2.8vmax;
  }

  #createUserBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
